/* Abschnitt "Erlebnisse von Marburger Bewohnern" */
.residents-experiences {
  margin-top: 7rem;
  padding: 20px;
  background-color: #2c2c2c;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #eee;
}

.residents-experiences .heading {
  text-align: center;
  margin-bottom: 20px;
}

.residents-experiences .heading .title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.residents-experiences .heading .subtitle {
  font-size: 1.2rem;
  color: #ccc;
}

.residents-experiences .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.residents-experiences .best-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.residents-experiences .best-comments .comment {
  background-color: #444;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  font-size: 1rem;
  color: #eee;
}

.residents-experiences .all-comments {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.residents-experiences .all-comments .comment-button {
  background-color: #f35305;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.residents-experiences .all-comments .comment-button:hover {
  background-color: #d94a04;
}

/* Modal für Kommentare */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #333;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  color: #fff;
  overflow-y: auto;
  max-height: 70vh;
}

.modal-content .comment {
  background-color: #444;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  color: #fff;
}

.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Modal für Formular */
#formModal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

#formModal .modal-content {
  background-color: #2c2c2c;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
 
  max-width: 600px;
  border-radius: 10px;
  color: #fff;
  overflow-y: auto;
  max-height: 70vh;
}

#formModal .modal-content h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

#formModal .modal-content .form-group {
  margin-bottom: 15px;
}

#formModal .modal-content label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
}

#formModal .modal-content input,
#formModal .modal-content textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #555;
  color: #eee;
}
#formModal .modal-content textarea{
  height: 10rem;
}
#formModal .modal-content .btn-submit {
  display: inline-block;
  background-color: #f35305;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#formModal .modal-content .btn-submit:hover {
  background-color: #d94a04;
}
