.hero-section {
    background: url('assets/images/grimm_hero.jpg') no-repeat center center/cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    margin-top: 60px;
}
html {
    font-size: 62.5%;
  }
  
  body {
    color: #fff;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
    padding: 2rem;
    margin-bottom: 3rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 900;
    line-height: 1.1;
    margin-top: 3rem;
    margin-bottom: 2rem; 
  }
  
  h1 {

    font-size: 5.61rem;
  }
  
  h2 {
    font-size: 4.209rem;
  }
  
  h3 {
    font-size: 3.157rem;
  }
  
  h4 {
    font-size: 2.369rem;
  }
  
  h5 {
    font-size: 1.777rem;
  }
  
  h6 {
    font-size: 1.333rem;
  }
  
  img {
    width: 100%;
  }
  #title{
    font-size: 6rem;
  }
  
  .lead {
    font-family: 'PT Serif', 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    margin-bottom: 3rem ;
  }
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 10rem;
  }
  .authors-works-slider {
    padding: 20px;
   
  }
  
  .authors-works-slider .heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .authors-works-slider .slider {
    display: flex;
    overflow: hidden;
  }
  
  .authors-works-slider .item {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .authors-works-slider .item img {
    width: 100%;
    object-fit: cover; 

}
  
 
  .authors-works-slider .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6); /* Black background with opacity */
    padding: 20px;
    text-align: center;
    transition: background 0.3s ease;
  }
  
  
  .authors-works-slider .slider-nav {
    text-align: center;
    margin-top: 10px;
    
  }
  
  .authors-works-slider .slider-nav button {
    font-size: 5rem;
    cursor: pointer;
    color: #fff;
    border: none;  
    background: rgba(0, 0, 0, 0.6); 
  }
  