* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.gallery {
   margin-top: 1rem;
    display: grid;
    grid-gap: 10px;
  }

  .nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #00040b;
    box-shadow: 1px 1px 2px #353f5b;
    z-index: 1000;
  }
  
  .content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1.6rem 1rem;
  } 
  
  .nav-bar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  } 
  
  .nav-bar .site-logo {
    padding: 0.5rem;
  }
    
  
  .nav-bar .site-logo .logo-link {
    padding: 0.25rem;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-transform: capitalize;
    color: #fff;
    border-top:1px solid #f35305;
  }
  
  .nav-bar .navigation {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
  
  }
  
  .nav-bar .navigation .link a {
    padding: 0.25rem 0.5rem;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    border-top:1px solid transparent;
    transition: all 0.6s;
  }
  
  .nav-bar .navigation .link:hover a {
    color: #f35305;
    border-top: 1px solid #f35305;
  }
  
  
  .gallery img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
  }
  
  @media screen and (min-width: 768px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (min-width: 1024px) {
    .gallery {
      grid-template-columns: repeat(3, 1fr);
    }
    .gallery img:nth-of-type(3) {
      grid-column: 2 / 4;
      grid-row: 1 / 3;
    }
  }